:root {
  --main-color: #d0d0d1;
  --button-background: #4D4E52
}

body {
  background-color: gray;
}

.main {
  display: flex;
  justify-content: center;
}

.calculator {
  width: 450px;
  height: 50%;
  padding: 20px;
  border: 1px solid black;
  background-color: var(--main-color);
  border-radius: 12px;
}

.modifier {
  width: 190px;
  height: 70px;
  border: 1px solid black;
}

.output {
  font-size: 36px;
  font-family: Roboto;
  padding: 10px;
  margin-bottom: 10px;
  border: 3px solid black;
  text-align: right;
  background-color: white;
  border-radius: 6px;
}

.clear-delete {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid black;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 6px;
  background-color: rgb(180, 180, 180);
}

.modifier.clear {
  background-color: rgb(169, 202, 245);
  border-radius: 8px;
  font-size: 30px;
  font-family: Roboto;
}

.modifier.clear:hover {
  background-color: rgb(117, 174, 248);
}

.modifier.clear:active {
  background-color: rgb(68, 149, 255);
}

.modifier.delete {
  background-color: rgb(248, 152, 129);
  border-radius: 8px;
  font-size: 30px;
  font-family: Roboto;
}

.modifier.delete:hover {
  background-color: rgb(255, 123, 91);
}

.modifier.delete:active {
  background-color: rgb(255, 90, 49);
}

.numeral.button.zero {
 width: 150px;
}

.numeral-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 300px;
  gap: 10px;
}

.operator-container {
  width: 70px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 0px;
  padding-left: 0px;
}

.buttons {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  border-radius: 6px;
  padding: 10px;
  background-color: rgb(180, 180, 180);
}

.numeral {
  height: 60px;
  width: 70px;
  font-size: 30px;
  font-family: Roboto;
}

.operator {
  width: 70px;
  height: 60px;
  font-size: 30px;
  font-family: Roboto;
}

.equals {
  width: 70px;
  height: 292px;
  margin: 4px 10px 10px 10px;
  font-size: 30px;
  font-family: Roboto;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  font-family: Roboto;
}

.fa-github-square {
  margin: 10px;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.fa-github-square:hover {
  transform: scale(1.3, 1.3);
}

