.calculator {
  width: 450px;
  height: 50%;
  padding: 20px;
  border: 1px solid black;
}

.output {
  font-size: 32px;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  text-align: right;
}

.numeral-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 450px;
  gap: 10px;
}

.buttons {
  display: flex;
  justify-content: center;
  border: 1px solid black;
}

.numeral {
  height: 90px;
  width: 70px;
}

.operator {
  width: 70px;
  height: 90px;
}

.equals {
  width: 70px;
  height: 435px;
  margin: 8px 10px 10px 10px;
}

.operator-container {
  width: 70px;
  height: 450px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-left: 0px;
  padding-left: 0px;
}
